.firstTemplate {
  padding: 40px;
  display: flex;
  flex-direction: column;
  & .info {
    word-wrap: break-word;
  }
  & .heading {
    display: flex;
    justify-content: flex-start;
    & h3 {
      word-wrap: break-word;
    }
  }
  & .rightTemplate {
    max-width: 450px;
  }
  & .photo-box {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    margin-right: 30px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  & p {
    margin-bottom: 12px;
    color: #757575;

    & span {
      color: rgb(51, 51, 51);
    }
  }

  & h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  & h4 {
    margin: 25px 0 15px 0;
    font-weight: 600;
  }

  & .educationBox {
    margin-bottom: 20px;
  }

  & .experienceBox {
    margin-bottom: 20px;
  }

  & .textbox {
    & p {
      &:first-child {
        margin-top: 6px;
      }
      color: rgb(51, 51, 51);
      margin: 0;
    }
  }
}
@media print {
  @page {
    size: auto;
    margin: 0mm;
  }
}
