.addInfo{
  &__medicalBook{
    margin-left: 165px;
    margin-top: 25px;
  }
  &__textArea{
    margin-top: 15px;
  }
  &__buttonWrapper{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  &__createWrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__createLink{

  }
  &__buttonReset{
    height: 43px;
  }
}