.experience {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__wrapper-content {
    display: flex;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &__nowCheckbox{
    margin-top: -15px;
    margin-bottom: 15px;
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    margin-left: 20px;
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
