.section {
  &:not(:first-child) {
    margin-top: 50px;
  }
  & > h1 {
    margin-bottom: 20px;
  }
  & > h2 {
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  &__entryField {
    margin-bottom: 15px;
    &.full {
      & input {
        width: 915px;
      }
    }
  }
  &__wantedPosition {
    margin-bottom: 50px;
  }
  &__photo {
    margin-bottom: 50px;
  }
}
