.textArea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  &__title {
    text-align: right;
    padding-top: 5px;
    min-width: 165px;
  }
  &__input {
    min-width: 915px;
    margin-left: 20px;
    height: 130px;
  }
}
